In [9]:
Name="Trupti Patil"
Roll_Number=9124
print(Name)
print(Roll_Number)

Trupti Patil
9124

In [10]:
A=["Trupti Patil","Age=20","Village=Alibag"]
B=["TY BSc Stat","Sir Parashuram Bhau College","Tilak Road","Pune"]
print(type(A))
print(type(B))

<class 'list'>
<class 'list'>

In [11]:
print(A[2])

Village=Alibag

In [12]:
print(A[:3] )
print(A[2:])
print(A[0:2])
print(A[:-1] )

['Trupti Patil', 'Age=20', 'Village=Alibag']
['Village=Alibag']
['Trupti Patil', 'Age=20']
['Trupti Patil', 'Age=20']

In [13]:
A[1]="Age=20 yrs"
print(A)

['Trupti Patil', 'Age=20 yrs', 'Village=Alibag']

In [14]:
A.append("MH 06")
print(A)

['Trupti Patil', 'Age=20 yrs', 'Village=Alibag', 'MH 06']

In [15]:
A.extend("Student")
print(A)

['Trupti Patil', 'Age=20 yrs', 'Village=Alibag', 'MH 06', 'S', 't', 'u', 'd', 'e', 'n', 't']

In [17]:
x=A.count("Trupti Patil")
print(x)

1

In [19]:
y=A.index("Trupti Patil")
print(y)

0

In [20]:
print(len(A))

11

In [21]:
A.sort()
print(A)

['Age=20 yrs', 'MH 06', 'S', 'Trupti Patil', 'Village=Alibag', 'd', 'e', 'n', 't', 't', 'u']

In [22]:
A1=A.copy()
print(A1)

['Age=20 yrs', 'MH 06', 'S', 'Trupti Patil', 'Village=Alibag', 'd', 'e', 'n', 't', 't', 'u']

In [23]:
A1.clear()
print(A1)

[]

In [25]:
A2=("Trupti Patil","Age=20","Village=Alibag")
B2=("TY BSc Stat","Sir Parashuram Bhau College","Tilak Road","Pune")
print(type(A2))
print(type(B2))

<class 'tuple'>
<class 'tuple'>

In [26]:
print(A2[2])

Village=Alibag

In [27]:
print(A2[0])
print(A2[2:])
print(A2[:3])
print(B2[-1])
print(B2[-4:])
print(B2[:-3])

Trupti Patil
('Village=Alibag',)
('Trupti Patil', 'Age=20', 'Village=Alibag')
Pune
('TY BSc Stat', 'Sir Parashuram Bhau College', 'Tilak Road', 'Pune')
('TY BSc Stat',)

In [28]:
if "Trupti Patil" in A2:
    print("Trupti Patil is listed in A2")
print('Trupti Patil' in A2)

Trupti Patil is listed in A2
True

In [29]:
x=A2.count("Trupti Patil")
print(x)

1

In [30]:
y=A2.index("Trupti Patil")
print(y)

0

In [31]:
A1=A2.copy()
print(A1)

AttributeError: ignored

In [32]:
A2.append("MH 11")
print(A2)

AttributeError: ignored